<mat-card class="card-container">
  <mat-card-header>
    <mat-card-title>Dog Therapy</mat-card-title>
    <mat-card-subtitle>Random dog generator</mat-card-subtitle>
    <mat-spinner
      id="spinner"
      diameter="40"
      mode="indeterminate"
      *ngIf="spinnerService.visibility | async"
    ></mat-spinner>
  </mat-card-header>

  <div class="image-container" *ngIf="!noMatchFound">
    <img mat-card-image src="{{ randomDog }}" />
  </div>

  <div class="error-container" *ngIf="noMatchFound">
    <mat-error class="error-msg"> Could not find a match. </mat-error>
  </div>

  <mat-form-field
    *ngIf="!dogBreeds.length"
    class="search-breed-form"
    appearance="fill"
  >
    <mat-label>Search by breed</mat-label>
    <input
      matInput
      name="breedQueryInput"
      [(ngModel)]="breedQuery"
      placeholder="E.g. Pomeranian"
    />
  </mat-form-field>

  <mat-form-field
    *ngIf="dogBreeds.length"
    class="search-breed-form"
    appearance="fill"
  >
    <mat-label>Search by breed</mat-label>
    <mat-select [(ngModel)]="breedQuery" name="breedQuerySelect">
      <mat-option *ngFor="let breed of dogBreeds" [value]="breed">
        {{ breed }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-card-actions>
    <button
      id="fetch"
      mat-raised-button
      color="primary"
      (click)="getRandomDog()"
    >
      Fetch
    </button>
  </mat-card-actions>
</mat-card>

<!-- *ngIf="spinnerService.visibility | async" -->
