.card-container {
  position: relative;
  height: 80vh;
  max-width: 80vw;
  background-color: #becaff;
  box-shadow: 0 1vw 3vw -1vw #000a38;
  overflow: hidden;
}

.image-container {
  display: flex;
  height: 50vh;
  width: auto;
}

.error-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: auto;
}

img.mat-card-image {
  border-radius: 4px;
  margin: auto;
  height: 50vh;
  width: auto;
  max-width: 100%;
  object-fit: contain;
}

mat-card-actions {
  display: grid;
  justify-content: center;
}

#search-breed-form {
  display: block;
  margin-top: 2vh;
}

#fetch {
  margin-top: -8px;
}

.error-msg {
  padding-bottom: 20px;
}
