.card-container {
  background-color: #becaff;
  box-shadow: 0 1vw 3vw -1vw #000a38;
}

img.mat-card-image {
  max-height: 60vh;
  width: auto;
  max-width: 90vw;
}

mat-card-actions {
  display: grid;
  justify-content: center;
}

#search-breed-form {
  display: block;
}

#fetch {
  min-height: 40px;
  min-width: 100px;
}
