.card-container {
  height: 80vh;
  max-width: 80vw;
  background-color: #becaff;
  box-shadow: 0 1vw 3vw -1vw #000a38;
  overflow: hidden;
}

#spinner {
  position: absolute;
  right: 16px;
}

.image-container {
  margin-top: 2vh;
  display: flex;
  height: 50vh;
  width: auto;
  justify-content: center;
  align-items: center;
}

.error-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: auto;
}

img.mat-card-image {
  height: 50vh;
  width: auto;
  max-width: 120%;
  object-fit: contain;
}

.search-breed-form {
  display: block;
  margin-top: calc(-15px + 2.5vh);
}

mat-card-actions {
  position: absolute;
  bottom: 2vh;
  margin: auto 0px !important;
  display: grid;
  width: calc(100% - 32px);
}

#fetch {
  min-width: 150px;
}

.error-msg {
  padding-bottom: 20px;
}
